@import url("https://fonts.googleapis.com/css?family=Archivo+Black");
@import url("https://fonts.googleapis.com/css?family=Rubik");

.headerImageLogo {
	float: left;
	width: 40px;
	height: 40px;
}

.headerTextLogo {
	float: left;
	margin-left: 16px;
	text-transform: uppercase;
}

.headerTextLogoMain {
	font-family: "Archivo Black", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 30px;
	color: var(--hilite-color);
	letter-spacing: 0.04em;
}

.headerTextLogoSub {
	font-family: "Rubik", sans-serif;
	font-size: 10px;
	line-height: 12px;
	text-transform: lowercase;
}

.headerTextLogoSub > strong {
	text-transform: uppercase;
}
